@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300&display=swap');

:root {
  --main-light: rgb(210, 210, 210);
  --main-dark: rgb(21, 23, 34);
  --main-background: #2B1B45;
  --main-light: rgb(238, 238, 238);
  --main-neutral: #1e1330;
  --main-sat: rgb(102, 0, 255);
  --text-neutral: white;
  --text-light: #272727;

  --sm: 576px;
  --md: 720px;
  --lg: 992px;
  --xl: 1200px;
  
}
html {
  scroll-behavior: smooth;
}
*{
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat Alternates';
}

a{
  text-decoration: none;
  color: var(--text-neutral);
}
ul{
  list-style: none;
}

h1{
  font-weight: 800;
  font-size: calc(1.25rem + 1.5vw);
}
h2{
  font-weight: 600;
  font-size: calc(0.7rem + 1vw);
}

