@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300&display=swap');

:root {
  --main-light: rgb(210, 210, 210);
  --main-dark: rgb(21, 23, 34);
  --sec-neutral: #5e2276;
  --main-neutral: #151c4b;
  --main-sat: rgb(76, 0, 255);
  --sec-sat: rgb(128, 0, 255);
  --blend: rgb(89, 15, 136);
  --text-neutral: white;
  --text-light: #272727;
  --swiper-theme-color: white;

  --sm: 576px;
  --md: 720px;
  --lg: 992px;
  --xl: 1200px;
  
}
html {
  scroll-behavior: smooth;
}
*{
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat Alternates';
}

a{
  text-decoration: none;
  color: var(--text-neutral);
  transition: all 500ms;
}
a:hover{
  transition: all 500ms;
  
  text-shadow: rgba(225, 225, 225, 1) 2px 0 10px;}
ul{
  list-style: none;
}

h1{
  font-weight: 800;
  font-size: calc(1.25rem + 1.5vw);
}
h2{
  font-weight: 600;
  font-size: calc(0.7rem + 0.8vw);
}

.swiper-pagination-bullet{
  width: 20px;
  height: 20px;
  font-size: 15px;
  color: var(--blend);
  font-weight: bold;

    
  
}
.swiper-pagination-bullets-dynamic{
  left: 50% !important;
    bottom: 50% !important;
}